@import "tailwindcss";

@theme {
    --color-primary-blue: #2563EB;
    --color-bg-hero-color: #0A0F1D;
    --color-bg-color: #0A0F1D;
    --color-bg2-color: #111E40;
    --color-bg-skills-color: #111E40;
    --color-bg-card-color: #0e172e;
    --color-bg-card2-color: rgba(16,61,128,0.13);
    --color-text-primary: #E5E7EB;
    --color-text-secondary: #AEB8D0;
    --color-primary-border: rgba(255,255,255,0.08);
    --color-secondary-border: rgba(37,99,235,0.45);
    --animate-slider-scroll: scroll-animation 30s linear infinite;

    @keyframes scroll-animation {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}